/* .card {
  background-color: #f5f7fa;
  border: 1px solid transparent;
  padding: 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 2px 16px 0 rgba(3, 4, 5, 0.04);
  border: 1px solid #cbd2e0;
  background-color: #fff;
  cursor: pointer;
}

.progress-wrapper {
  width: 56px;
  height: 56px;
} */